@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');@import url('https://fonts.googleapis.com/css?family=Spirax');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color: #caaeb5;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.header {
  background-image: url("img/header.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  height: 200px;
  background-size: 100%;
}

.nav {
  width: 415px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  width: 175px;
  font-size: 4rem;
  color: #caaeb5;
  padding-top: 20px;
  font-family: 'Spirax', sans-serif;
}

.selected {
  font-weight: bold;
}

.links {
  font-size: 1rem;
  color: #c0c9ca;
  width: 255px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}

.links a {
  color: #caaeb5;
  text-decoration: none;
  padding: 0 15px;
}


.homepage {
  max-height: 500px;
}

.homepage img {
  width: 100%;

}

.quote {
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 575px;
  margin-bottom: 145px;
}

.quote h2 {
  color: #f5f3f2;
}

.about {
  height: 500px;
  background-color: #caaeb5;
  background-image: url("img/flowers.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: bottom;
  background-size: 25%;
}

.about_text {
  margin-left: 95px;
  width: 128px;
  font-size: 3rem;
  color: #f5f3f2;
}

.me {
  margin-left: 95px;
  width: 300px;
  padding-top: 50px;
  float: left;
}

.me img {
  width: 300px;
}

.about_me {
  float: left;
  width: 700px;
  margin-left: 70px;
}

.about_me p {
  color: #ffffff;
  font-size: 1rem;
  line-height: 20px;
}

.about_me h2 {
  color: #f5f3f2;
}

.about_me li {
  line-height: 20px;
  color: #ffffff;
}


.gallery {
  height: 500px;
  background-color: #caaeb5;
  height: 500px;
  background-color: #caaeb5;
  background-image: url("img/flowers.png");
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: bottom;
  background-size: 25%;
}

.gallery_text {
  margin-left: 95px;
  width: 128px;
  font-size: 3rem;
  color: #f5f3f2;
}

.slideshow {
  width: 1000px;
  background-color: rgba(255, 255, 255, .3);
  margin-left: auto;
  margin-right: auto;
  border: dotted 1px #ffffff;
}

.imgs {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  height: 375px;
}

.imgs img {
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  max-height: 280px;
}

.buttons {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}
